h1 {
  font-family: font-family: 'Chelsea Market', cursive;
  color: #FF853B;
}

li {
  font-family: sans-serif;
  color: orange;
}

p {
  font-family: serif;
  color: #B25D29;
}

body {
  background-color: #9CFEFF;
}

table, td, th {
  border: 1px solid black;
}
