* {
  box-sizing: border-box;
}

#nav-bar {
  background-color: grey;
  overflow: auto;
  font-family: Helvetica;
  height: 42px;
}

.nav {
  width: 8%;
  height: 100%;
  display: inline-block;
  text-align: center;
  height: 42px;
  min-height: 100%;
  vertical-align: middle;
  transition: background-color 0.3s, color 0.3s, font-weight 0.3s;
}

.nav:hover {
  background-color: #F4F4F4;
  color: #FF853B;
  font-weight: 800;
}

#nav-bar a {
  text-decoration: none;
  vertical-align: middle;
  height: 42px;
  min-height: 100%;
}

#logo {
  width: 50%;
  margin: auto;
  text-align: center;
  font-weight: bold;
}

#logo img {
  margin: auto;
}

h1 {
  font-family: 'Chelsea Market', cursive;
  color: #FF853B;
  text-align: center;
}

ul {
  list-style: none;
}

section.contact{
  display: inline-block;
}

.address {
  font-family: sans-serif;
  color: orange;
}

.address2 {
  font-family: sans-serif;
  color: orange;
}

.day {
  font-family: sans-serif;
  color: orange;
}

.day2 {
  font-family: sans-serif;
  color: orange;
}

.open2 {
  font-family: sans-serif;
  color: orange;
}

.phone {
  font-family: sans-serif;
  color: orange;
}

p {
  font-family: serif;
  color: #B25D29;
}

body{
    background-color: #F4F4F4;
}

table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

th{
  background-color: grey;
}

#theForm{
  display: inline-block;
  color: orange;
}
