#nav-bar {
  background-color: grey;
  overflow: hidden;
  font-family: Helvetica;
}

.nav {
  float: left;
  height: 42px;
  padding: 0 20px;
  text-decoration: none;
}

#nav-bar {
  text-decoration: none;
}

h1 {
  font-family: 'Chelsea Market', cursive;
  color: #FF853B;
}

ul {
  list-style: none;
}

section.contact{
  display: inline-block;
}

.address {
  font-family: sans-serif;
  color: orange;
}

.address2 {
  font-family: sans-serif;
  color: orange;
}

.day {
  font-family: sans-serif;
  color: orange;
}

.day2 {
  font-family: sans-serif;
  color: orange;
}

.open2 {
  font-family: sans-serif;
  color: orange;
}

.phone {
  font-family: sans-serif;
  color: orange;
}

p {
  font-family: serif;
  color: #B25D29;
}

body{
    background-color: #F4F4F4;
}

table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

th{
  background-color: grey;
}

#theForm{
  display: inline-block;
  color: orange;
}
